<p></p>
<body background="">
  <div class="container">
    <h2>Sign in to Vneuron application</h2>
    <form #loginform='ngForm' (ngSubmit)="loginUser()">
      <div>
        <small class="text-danger">{{msg}}</small>
        <div class="form-group">

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" [(ngModel)]="user.emailId" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched">
          <div *ngIf="email.errors && (email.invalid && email.touched)">
            <div class="alert alert-danger" *ngIf="email.errors?.['required']">Email Id is required field</div>
            <div class="alert alert-danger" *ngIf="email.errors?.['pattern']">Enter the valid email</div>
          </div>
        </div>

        <label for="p"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="user.password" required
          #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
        <div class="alert alert-danger" [class.d-none]="password.valid || password.untouched">Password is required field
        </div>


        <button [disabled]="loginform.form.invalid" type="submit" class="loginbtn">Submit</button>
        <div class="container signin">
          <p>New user ? <a routerLink="registration">Register here</a>.</p>

        </div>
      </div>
    </form>
  </div>
