<form #registrationform='ngForm' >
  <small class="text-danger">{{msg}}</small>
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email"  [(ngModel)]="user.emailId" required
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched">
      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <div class="alert alert-danger" *ngIf="email.errors?.['required']" >Email Id is required field</div>
        <div class="alert alert-danger" *ngIf="email.errors?.['pattern']">Enter the valid email</div>
      </div>

    <label for="userName"><b>User Name</b></label>
    <input type="text" placeholder="Enter User Name" name="User-Name" [(ngModel)]="user.userName" required #username="ngModel" >
    <div *ngIf="username.errors && (username.touched)" class="alert alert-danger">
      <div *ngIf="username.errors?.['required']"> User Name is required. </div>
    </div>

    <label for="p"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="user.password" id="password" required
    #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" >
    <div *ngIf="password.errors && (password.invalid && password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors?.['required']"> Password is required. </div>
      <div *ngIf="password.errors?.['pattern']"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
    </div>

    <label for="password-repeat"><b>Repeat Password</b></label>
    <input type="password"  placeholder="Repeat Password" name="passwordConfirmationTxt" #passwordrepeat="ngModel" [(ngModel)]="passwordConfirmationTxt"
     pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="passwordrepeat" (blur)="confirmPassword()" required>
    <div *ngIf="passwordrepeat.errors && (passwordrepeat.invalid && passwordrepeat.touched)" class="alert alert-danger">
      <div *ngIf="passwordrepeat.errors?.['required']"> Password repeat is required. </div>
      <div [hidden]="passwordConfirmationFailed" >Password did not match</div>
    </div>
    <button [hidden]=" (!email.invalid) && (!password.invalid) && passwordConfirmationFailed && (!username.invalid) " class="registerbtn"  style="background-color: rgba(197, 167, 121, 0.822); text-size-adjust: 20xp; color: black;">Register locked</button>
    <button type="submit" [hidden]="email.invalid || password.invalid || !passwordConfirmationFailed || username.invalid" [disabled]="registrationform.form.invalid" (click)="registrationUser()" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a routerLink="">Sign in</a>.</p>
  </div>
</form>
