<!-- Image and text -->
<nav class="navbar navbar-dark sticky-top bg-dark">
    <a class="navbar-brand d-flex" style="margin-left: 20px;" href="#">
      <img src="assets/images/vneuron.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <h2 style="margin-left:10px ; font-family: URW Geometric Arabic ExtraBold; font-style: normal;">Vneuron</h2>
    </a>
    <button (click)="onClickLogout()" style="margin-right: 20px;" class="btn btn-danger my-2 my-sm-0" type="submit" routerLink="">Log out</button>
</nav>
