
.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;

  }

  .item img {
    width: 64px;
  }

  .item {
    margin: 0px 15px;
    text-align: center;
  }

  .item a:hover {
    color: blue;
  }

  .card {
    width: 375px;
    margin: 5px;

    box-shadow: 0px 0px 10px 0px #9b9b9b,
        0 1px 1px 0 #9b9b9b,
        0 1px 3px 0 #9b9b9b;
  }
  h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
  }

  .card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
  }

  .card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
  }
